.boards-container {
  display: flex;
  flex-direction: column;
  text-align: start;
}

h5 {
  color: var(--lighter-grey);
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.4px;
  margin-left: 24px;
  margin-top: 50px;
}

.board-icon {
  filter: invert(39%) sepia(47%) saturate(748%) hue-rotate(203deg)
    brightness(94%) contrast(93%);
}
