.boards-container {
  display: flex;
  margin-left: 24px;
  flex-direction: column;
  text-align: start;
}

h5 {
  color: var(--lighter-grey);
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.4px;
}
