.sidebar-container {
  height: 100%;
  grid-row-start: 1;
  grid-row-end: 3;
  border: 1px solid var(--pastel-grey);
  display: flex;
  flex-direction: column;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-left: 26px;
  margin-top: 32px;
}

.logo {
  float: left;
}

.logo-name {
  font-weight: bold;
  color: var(--black);
}
